@{
    ViewBag.Title = "Home Page";
    ViewData["AUTOS"] = "Coches deportivos";
}
<h1>@ViewData["AUTOS"]</h1>

<h4 style="color:red;">Bienvenido al paraiso! ¡ Uff mira eso papaaa! </h4>

<section>

    <div class="caja1">
        <div class="card" style="width: 18.9rem;">
            <div class="card-body">

                <img src="~/images/Camaro-SS.jpg" width="267" class="d-block w-40" alt="...">
                <h5 class="card-title">Chevrolet Camaro-SS</h5>
                <h6 class="list-group-item">Precio: $1,148,400 </h6>
                <p class="card-text">455 Caballos de potencia, Transmision automatica de 10 velocidades.</p>

                <div class="nav-item">
                    @Html.ActionLink("Comprar", "DatosUsuario", "Home", new { area = "" }, new { @class = "btn btn-success" })
                </div>

                <p> </p>

                <form action="https://es.chevrolet.com/camaro-life/camaro-sports-car/ss">
                    <button type="submit">Mas información</button>
                </form>
            </div>
        </div>

    </div>

</section>



<section>

    <div class="caja2">
        <div class="card" style="width: 20.9rem;">
            <div class="card-body">

                <img src="~/images/Ferrari-Enzo.jpg" width="267" height="178">
                <h5 class="card-title">Ferrari-Enzo</h5>
                <h6 class="list-group-item">Precio: $2,640,000 </h6>
                <p class="card-text">Velocidad máxima: 336 km/h, Consumo de combustible: 3,4 km/l en ciudad y 5,1 km/l en ruta</p>
                <div class="nav-item">
                    @Html.ActionLink("Comprar", "DatosUsuario", "Home", new { area = "" }, new { @class = "btn btn-success" })
                </div>

                <p> </p>

                <form action="https://auto.idoneos.com/ferrari/ferrari_enzo/">
                    <button type="submit">Mas información</button>
                </form>
            </div>
        </div>

    </div>

</section>

<section>

    <div class="caja3">
        <div class="card" style="width: 24.9rem;">
            <div class="card-body">

                <img src="~/images/Lamborghini-Aventador-Coupé.jpg" width="267" height="179">
                <h5 class="card-title">Lamborghini-Aventador-Coupé</h5>
                <h6 class="list-group-item">Precio: $422,290 </h6>
                <p class="card-text">Tiene un motor V12 de gasolina de 770 CV,un cambio automático de siete relaciones 0 a 100 km: 2.9s</p>

                <div class="nav-item">
                    @Html.ActionLink("Comprar", "DatosUsuario", "Home", new { area = "" }, new { @class = "btn btn-success" })
                </div>

                <p> </p>

                <form action="https://www.km77.com/coches/lamborghini/aventador/2012/coupe/s/aventador-s/datos">
                    <button type="submit">Mas información</button>
                </form>
            </div>
        </div>

    </div>

</section>

<section>

    <div class="caja4">
        <div class="card" style="width: 18.9rem;">
            <div class="card-body">

                <img src="~/images/Ford-Mustang-GT.jpg" width="267" class="d-block w-40" alt="...">
                <h5 class="card-title">Ford-Mustang-GT</h5>
                <h6 class="list-group-item">Precio: $50,205 </h6>
                <p class="card-text">Tiene un motor de 533 caballos de potencia, tracción trasera y caja de cambios automática.</p>

                <div class="nav-item">
                    @Html.ActionLink("Comprar", "DatosUsuario", "Home", new { area = "" }, new { @class = "btn btn-success" })
                </div>

                <p> </p>

                <form action="https://www.km77.com/coches/ford/mustang/2015/fastback/gt/mustang-coupe-50-ti-vct-v8/datos">
                    <button type="submit">Mas información</button>
                </form>
            </div>
        </div>

    </div>

</section>

<section>

    <div class="cajaa5">
        <div class="card" style="width: 18.9rem;">
            <div class="card-body">

                <img src="~/images/nissan-gtr.jpg" width="267" height="150">
                <h5 class="card-title">Nissan-GTR</h5>
                <h6 class="list-group-item">Precio: $113,540 </h6>
                <p class="card-text">Motor V6 DOHC turbocargado doble de 3.8 litros y 24 válvulas, con transmisión integrante de eje transversal independiente </p>

                <div class="nav-item">
                    @Html.ActionLink("Comprar", "DatosUsuario", "Home", new { area = "" }, new { @class = "btn btn-success" })
                </div>

                <p> </p>

                <form action="https://es.nissanusa.com/vehicles/sports-cars/gt-r/specs/compare-specs.html#modelName=Premium|Transmisi%C3%B3n%20autom%C3%A1tica%20de%206%20velocidades%20con%20doble%20clutch">
                    <button type="submit">Mas información</button>
                </form>
            </div>
        </div>

    </div>

</section>

<section>

    <div class="cajaa6">
        <div class="card" style="width: 20.9rem;">
            <div class="card-body">

                <img src="~/images/Audi-R8.jpg" width="267" height="150" />
                <h5 class="card-title">Audi-R8</h5>
                <h6 class="list-group-item">Precio: $1150400 </h6>
                <p class="card-text">El Audi R8 cuenta con un motor V10 de 5.2 litros con el que alcanza una velocidad máxima de 330 km/h. Sistema de frenado Nissan/Brembo  </p>

                <div class="nav-item">
                    @Html.ActionLink("Comprar", "DatosUsuario", "Home", new { area = "" }, new { @class = "btn btn-success" })
                </div>

                <p> </p>

                <form action="https://www.motor16.com/coche/audi-r8/">
                    <button type="submit">Mas información</button>
                </form>
            </div>
        </div>

    </div>

</section>

<section>

    <div class="cajaa7">
        <div class="card" style="width: 20.9rem;">
            <div class="card-body">

                <img src="~/images/Tesla.jpg" width="267" height="150" />
                <h5 class="card-title">Tesla - Model 3 eléctrico</h5>
                <h6 class="list-group-item">Precio: $49,000 </h6>
                <p class="card-text">Un manejo y aerodinámica mejorados permiten que se alcance una velocidad máxima de 261 km/h </p>

                <div class="nav-item">
                    @Html.ActionLink("Comprar", "DatosUsuario", "Home", new { area = "" }, new { @class = "btn btn-success" })
                </div>

                <p> </p>

                <form action="https://www.tesla.com/es_mx/model3?redirect=no">
                    <button type="submit">Mas información</button>
                </form>
            </div>
        </div>

    </div>

</section>










